.default {
    width: 44px;
    height: 84px;
    border: 1px solid greenyellow;
    position: absolute;
}

.monster {
    width: 325px;
    height: 154px;
    border: 1px solid red;
    position: absolute;
}
