.default {
    width: 44px;
    height: 44px;
    border: 1px solid greenyellow;
    position: absolute;
}
.jianmo {
    border-color: rgb(0, 255, 183);
}
.nvmanyou {
    border-color: rgb(0, 0, 255);
}
.xiazi {
    border-color: peru;
}
.jianhun {
    border-color: fuchsia;
}
.monster_collection {
    border-width: 4px;
    border-color: red;
    border-style: dashed;
}
